.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
  margin: 0 auto;
  padding: 24px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mat-form-field {
  width: 100%;
  margin-top: 16px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #3f51b5;
}

.mat-form-field .mat-input-element {
  padding: 10px;
}

.mat-form-field .mat-form-field-underline {
  display: none;
}

.mat-form-field .mat-form-field-wrapper {
  padding: 0;
}

button {
  align-self: center;
  margin-top: 24px;
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  background-color: #3f51b5;
  color: white;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.success-message,
.error-message {
  margin-top: 16px;
  text-align: center;
}

.success-message {
  color: #4caf50;
}

.error-message {
  color: #f44336;
}

.user-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.user-photos img {
  max-width: 200px;
  width: auto;
  height: auto;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.similar-users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 100%;
  border-radius: 5px;
}

.similar-objects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.object-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 10px;
  background-color: #e6e6e6;
  border-radius: 5px;
}

.objects {
  text-align: center;
  white-space: nowrap;
  font-size: 1.1rem;
  color: #555;
  font-weight: 500;
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.2rem;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.mat-input-container {
  display: flex;
  align-items: center;
}

.target-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.target-text {
  margin-right: 10px;
}

.delete-button {
  background: none;
  border: none;
  color: rgb(255, 0, 0);
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  width: 24px;
  height: 24px;
  padding: 0;
}